img{
    /* width: 200px; */
    height: 120px;
    max-width: 50%;
    display: block;
    margin: 40px auto 10px auto;
}

#body{
    height: 150px;
}

#productCard {
    margin: 15px 0;
    height: 320px;
    overflow: hidden;
}

footer{
    background-color: #262626;
    color: white;
}

